a {
	color: white;
}

.App {
	text-align: center;
	background-color: #282c34;
	color: white;
	font-size: calc(10px + 2vmin);
	min-height: 100vh;
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.menu {
	position: fixed;
	left: 0;
	top: 0;
	background-color: darkorange;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.menuButton {
	padding: 0;
	border: none;
	background: none;
	color: white;
	font-size: 40px;
	float: left;
	width: 5vw;
	height: 5vw;
}

.menuEntry {
	padding: 1vw;
	display: flex;
	flex-direction: row;
	user-select: none;
}

.menuEntry:hover {
	background-color: orange;
}

.menuEntrySelected {
	background-color: rgb(161, 89, 0);
}

.menuEntrySelected:hover {
	background-color: rgb(255, 94, 0);
}

.menuName {
	margin-left: 1vw;
	font-size: 25px;
	display: flex;
	align-items: center;
}

#guild-selector {
	display: flex;
	flex-direction: column-reverse;
	height: 100%;
}

#page {
	display: flex;
	position: absolute;
	right: 5vw;
	top: 5vh;
	width: 80vw;
	height: 75vh;
}

.dashboard {
	display: flex;
	flex-direction: row;
}

.dashboard-box {
	padding: 10px;
	border: 1px solid white;
	margin: 1vw;
	height: min-content;
}

.dashboard-title {
	font-size: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dashboard-table {
	width: max-content;
}

.dashboard-table-value {
	display: flex;
	align-items: center;
	justify-content: right;
}

.dashboard-table-key {
	text-align: left;
	padding-right: 1vw;
}

.online-status {
	font-size: 25px;
}

.online-status-ONLINE {
	color: lime;
}

.online-status-IDLE {
	color: yellow;
}

.online-status-DO_NOT_DISTURB {
	color: red;
}

.online-status-OFFLINE {
	color: gray;
}

.reminders {
	width: inherit;
	height: inherit;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: auto;
}

.reminder-box {
	padding: 10px;
	border: 1px solid white;
	margin: 1vw;
	height: min-content;
}

.polls {
	width: inherit;
	height: inherit;
	display: flex;
	flex-direction: row;
	overflow: auto;
}

.poll-box {
	font-size: 20px;
	padding: 10px;
	border: 1px solid white;
	margin: 1vw;
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pie-chart {
	position: absolute;
	bottom: 10%;
}

.poll-page-button {
	margin-left: 5%;
	margin-right: 5%;
}
