a {
	color: white;
}

.App {
	text-align: center;
	background-color: #282c34;
	color: white;
	font-size: calc(10px + 2vmin);
	min-height: 100vh;
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.menu {
	position: relative;
	width: min-content;
	background-color: darkorange;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 0;
}

.menuButton {
	padding: 0;
	padding-left: 1vw;
	border: none;
	background: none;
	color: white;
	font-size: 40px;
	float: left;
	width: min-content;
	min-height: 3.5vw;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}

.menuEntry {
	padding: 1vw;
	padding-bottom: 1.5vh;
	padding-top: 1.5vh;
	display: flex;
	flex-direction: row;
	user-select: none;
	position: relative;
	z-index: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}

.menuEntry:hover {
	background-color: orange;
}

.menuEntrySelected {
	background-color: rgb(161, 89, 0);
}

.menuEntrySelected:hover {
	background-color: rgb(255, 94, 0);
}

.menuName {
	margin-left: 1vw;
	font-size: 25px;
	display: flex;
	align-items: center;
	width: max-content;
}

#guild-selector {
	display: flex;
	flex-direction: column-reverse;
	width: auto;
	height: 0vh;
	margin-top: auto;
	position: relative;
	z-index: 1;
}

.guild-entry {
	z-index: 1;
	background-color: darkorange;
}

.guild-selector-open > .guild-entry {
	border-right: 3px solid white;
}

.guild-entry-top {
	border-top: 3px solid white;
}

#main {
	display: flex;
	position: relative;
}

#page {
	margin: 1%;
	width: 100%;
	height: 95vh;
}

.dashboard {
	display: flex;
	flex-direction: row;
}

.dashboard-box {
	padding: 10px;
	border: 1px solid white;
	margin: 1vw;
	height: min-content;
}

.dashboard-title {
	font-size: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dashboard-table {
	width: max-content;
}

.dashboard-table-value {
	display: table-cell;
	text-align: right;
}

.dashboard-table-key {
	text-align: left;
	padding-right: 1vw;
}

.online-status {
	font-size: 25px;
}

.online-status-ONLINE {
	color: lime;
}

.online-status-IDLE {
	color: yellow;
}

.online-status-DO_NOT_DISTURB {
	color: red;
}

.online-status-OFFLINE {
	color: gray;
}

.reminders {
	width: inherit;
	height: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: auto;
}

.reminder-box {
	padding: 10px;
	border: 1px solid white;
	margin: 1vw;
	height: min-content;
}

.polls {
	width: inherit;
	height: 90%;
	display: flex;
	flex-direction: row;
	overflow: auto;
}

.poll-box {
	font-size: 20px;
	padding: 10px;
	border: 1px solid white;
	margin: 1vw;
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pie-chart {
	position: absolute;
	bottom: 20%;
}

.poll-page-button {
	margin-left: 5%;
	margin-right: 5%;
}

#members {
	display: flex;
	flex-direction: column;
	width: inherit;
	height: inherit;
}

#members input {
	margin-bottom: 1vh;
}

#members #table-div {
	overflow-y: auto;
	width: inherit;
	height: 100%;
}

#members table {
	border-spacing: 0;
	width: 99%;
}

#members .member-buttons {
	width: 100%;
	display: flex;
}

#members .member-buttons * {
	margin: 5px;
}

#members .member-buttons button {
	font-size: 30px;
	border: none;
	background: none;
	color: white;
}

#members .member-buttons input {
	width: 100%;
}

.member td {
	border: 1px solid white;
	padding: 5px;
}

#settings {
	width: inherit;
	height: inherit;
	display: flex;
	flex-direction: row;
}

#settings > * {
	margin: 10px;
}

#settings h2 {
	margin-top: 0px;
	margin-bottom: 5px;
}

.settings-select-button {
	margin-left: 1vw;
}

.selector-channels {
	position: fixed;
	display: none;
	flex-direction: column;
	left: 33vw;
	top: 10vh;
	height: 50vh;
	overflow-y: auto;
	background-color: #505764;
	padding: 10px;
}

.selector-channels-open {
	display: flex;
}

.selector-channel {
	text-align: left;
	padding: 10px;
	user-select: none;
}

.selector-channel:hover {
	background-color: #6a7383;
}

.selector-channel-selected {
	background-color: orange;
}

.delete-button {
	color: red;
}

.operator-entry > td {
	padding: 10px;
}

.shop-buttons > button {
	margin: 5px;
}

.shop-item-editor {
	position: fixed;
	display: none;
	flex-direction: column;
	left: 33vw;
	top: 10vh;
	height: max-content;
	overflow-y: auto;
	background-color: #505764;
	padding: 10px;
}

.shop-item-editor-open {
	display: flex;
}

.emoji {
	height: 1em;
	display: inline-block;
}

.commands {
	width: inherit;
	height: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: auto;
}

.command {
	width: 100%;
	padding: 10px;
	border: 1px solid white;
	margin: 1vw;
	height: min-content;
}

.command .multiline {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.command textarea, .command input {
	font: inherit;
	background: inherit;
	color: inherit;
}

.multiline
{
	text-align: left;
	white-space: pre-wrap;
}

#translations {
	display: flex;
	flex-direction: column;
	width: inherit;
	height: inherit;
}

#translations #table-div {
	padding-top: 1em;
	overflow-y: auto;
	width: inherit;
	height: 100%;
}

#translations table {
	border-spacing: 0;
	width: 99%;
}

#translations table td {
	text-align: left;
}

#translations table textarea {
	width: 99%;
}

#translations table td button {
	background: none;
	border: none;
	font-size: 25px;
}
